ul li.checked{
    background-color: blueviolet;
    color:white;
    font-size: 16px;
    
    text-decoration:line-through; 
    text-decoration-color: white;
}

.close{
    position: absolute;
    right: 0;
    top: 0;
    padding:  12px 16px 12px 16px;
}
#deleteAll{
    position: absolute;
    right: 5px;
    top: 5px;
   
}